/* mini css reset */

html, body, div, form, fieldset, legend, label {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, th, td, caption {
    font-weight: normal;
    margin: 0;
}

img { border: 0; }

body {
    background-color: #DDDDDD;
    color: #fff;
    font-family: 'Ubuntu Mono', sans-serif
}

#vote-for-us {
    float: left;
    height: 80px;
    width: 10%;
}

#site-title {
    font-size: 50px;
    line-height: 80px;
    margin: 0;
    float: left;
    font-weight: bold;
    letter-spacing: 5px;
    width: 20%;
    text-align: center;
    background-color: #3D886D;
}

#loading-message {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    height: 200px;
    background-color: #1ad027;
    overflow: scroll;
    display: none;
}

#repo-input-container {
    /* text-align: center;  */
    float: left;
    width: 70%;
}

#repo-input {
    line-height: 80px;
    width: 100%;
    border: none;
    padding: 0 10px;
    font-size: 25px;
    margin: 0;
}

#repo-input:focus {
    /* outline: 6px solid #1ad027; */
    outline: none;
}

#repl-container { font-size: 18px; }

#repl-container div.jquery-console-inner { 
    height: 600px;
    margin: 0 auto;
    background-color: #DDDDDD;
    color: black;
    padding: 10px;
    overflow:auto
}

#repl-container div.jquery-console-prompt-box {
    color: #6F0000;
}

#repl-container span.jquery-console-prompt-label {
    margin-right: 0.5em;
}

#repl-container div.jquery-console-focus span.jquery-console-cursor {
    background: #fefefe;
    color: #6F0000;
    font-weight: bold
}

#repl-container div.jquery-console-message-error {
    color: orangered;
    font-weight:bold;
    padding:0.1em;
}

#repl-container div.jquery-console-message-value {
    color: #1ad027;
    padding:0.1em;
}

#repl-container div.jquery-console-message-type {
    color:#52666f;
    padding:0.1em;
}

#repl-container span.jquery-console-prompt-label {
    font-weight:bold
}
